@media (max-width: 768px) {
    .header__nav {
        gap: 30px;
    }

    .header__menu {
        gap: 20px;
    }

    .footer__content {
        flex-direction: column;
        text-align: center;
    }

    .footer__actions {
        align-items: center;
    }

    .footer__menu {
        flex-direction: column;
        gap: 20px;
    }

    .contact__form-wrapper {
        padding: 40px;
    }

    .contact__assistant {
        width: 60%;
    }
}